# Ignore all __pycache__ folders anywhere
**/__pycache__/
*.pyc

# Environment files/folders
.env
venv/
.venv/

# Input/Output folders anywhere
**/input
**/bin
**/output
**/*.h5
**/*.csv
**/*.jpeg
**/*.jpg
**/*.png
**/*.mp4
**/*.mkv
**/*.wav
**/*.wmv
**/*.avi